<div class = "text-center">
<h1>About us</h1>
    <p>We are a home-grown basement company that provides you the service for you to upload pastes, view pastes. </p>
    <p>We have a guestbook where you may comment and post, feel free to post a message!</p>
</div>
