<h1>Create Paste</h1>

{{#if errors.length}}
	<p>Couldn't create the paste because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
<form action="/pastes/create" method="POST">
	<div class="form-group">
  		<label class="form-label" for="input-example-3">Name of paste</label>
  		<textarea class="form-input" id="input-example-3" name="name" placeholder="Textarea" rows="1"></textarea>
	</div>
	<div class="form-group">
  		<label class="form-label" for="input-example-3">Post</label>
  		<textarea class="form-input" id="input-example-3" name="paste" placeholder="Textarea" rows="20"></textarea>
	</div>
	<div>
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<button type="submit">Create Paste</button>
	</div>

</form>