
<div>
{{#if errors.length}}
<ul>
{{#each errors}}	
	<li>{{this}}</li>
{{/each}}
	</ul>
{{else}}
<form action="/pastes/{{id}}/delete" method="post">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<button type="submit">Delete Paste</button>
</form>
{{/if}}
</div>