<div class = "text-center">
<h1>Welcome!</h1>
    <p>This is a website where you may create a paste and share it with someone!</p>
    <p>Feel free to check out our guestbook or our FAQs if you want to learn more about what we do</p>
</div>
